/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/07/2017, 11:21:03
    Author     : user1
*/
$borda-modal:#b7b7b7;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte_modal:#116961;
$tamanho_inputs:34px;



.geral_modal
{

    z-index: 9999;
    border: solid 1px #d0cbcb;
    width: 500px;
    height: 301px;
    left: 33%;
    top: 30%;
    position: sticky;
  
    .visual_modal{
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border: solid 1px $borda-modal;
        border-radius:9px;
    }

}



